<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light rounded">
  <img src="../assets/img/TiendaLogo.png" width="30" height="30" alt="">

  <a class="navbar-brand" href="#">Mi Blog</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
    aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" *ngFor="let categoria of Categorias">
        <a class="nav-link" href="#" [routerLink]="'categoria/'+categoria.titulo">{{categoria.titulo}}</a>
      </li>

    </ul>
    <ul class="navbar-nav mr-2">
      <a href="#" class="btn btn-info" [routerLink]="['nuevaEntrada']">Nueva</a>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>

    </form>
  </div>
</nav>
<!-- 
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between" *ngFor="let categoria of Categorias">
    <a class="p-2 text-muted" href="#">{{categoria.titulo}}</a>
  </nav>
</div> -->