<main role="main container">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-8 mx-auto">
      <h1>{{ultimaEntrada.titulo}}</h1>
      <p>{{ultimaEntrada.resumen}} [..]
        <p>
          <a class="btn btn-primary" href="javascript:void(0)" (click)="abrirEntrada(ultimaEntrada)" role="button">Leer
            más »</a>
        </p>
    </div>
  </div>
</main>


<section>

  <!-- Popular News -->
  <div class="container">
    <div>
      <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Popular News</h2>
    </div>

    <div class="row">
      <!-- Popular News -->
      <div class="col-md-4 card bg-light mx-auto" *ngFor="let entrada of Entradas">
        <!-- Article -->
        <article class="card-body">
          <figure>
            <img class="img-fluid w-100" src="{{entrada.foto}}" alt="Image Description">

            <!-- <figcaption class="card-title">
                <a class="btn btn-xs u-btn-teal text-uppercase rounded-0" href="#!">Holiday</a>
              </figcaption> -->
          </figure>

          <h3 class="h4 g-mb-10">
            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover card-text" href="javascript:void(0)"
              (click)="abrirEntrada(entrada)">{{entrada.titulo}}</a>
          </h3>

          <ul class="list-inline g-color-gray-dark-v4 g-font-size-10">
            <li class="list-inline-item">
              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">{{entrada.autor}}</a>
            </li>

            <li class="list-inline-item">
              {{entrada.fecha_modificacion | date:'dd/MM/yy'}}
            </li>

            <!-- <li class="list-inline-item">
              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                <i class="icon-finance-206 u-line-icon-pro align-middle g-pos-rel g-top-1 mr-1"></i> 24
              </a>
            </li> -->
          </ul>

          <p class="g-color-gray-dark-v41">{{entrada.resumen}} [..]</p>
          <a class="g-font-size-12" href="javascript:void(0)" (click)="abrirEntrada(entrada)">Leer más..</a>
        </article>
        <!-- Article -->
      </div>
      <!-- End Popular News -->




    </div>
    <!-- ROW -->


  </div>
  <!-- End Popular News -->

</section>
<!-- container -->